---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?components=country:US%7Cpostal_code:10018
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "10018",
                       "short_name" : "10018",
                       "types" : [ "postal_code" ]
                    },
                    {
                       "long_name" : "Manhattan",
                       "short_name" : "Manhattan",
                       "types" : [ "political", "sublocality", "sublocality_level_1" ]
                    },
                    {
                       "long_name" : "New York",
                       "short_name" : "New York",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "New York County",
                       "short_name" : "New York County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "New York",
                       "short_name" : "NY",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "New York, NY 10018, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 40.7648468,
                          "lng" : -73.98088799999999
                       },
                       "southwest" : {
                          "lat" : 40.749102,
                          "lng" : -74.01240009999999
                       }
                    },
                    "location" : {
                       "lat" : 40.755322,
                       "lng" : -73.9932872
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 40.7648468,
                          "lng" : -73.98088799999999
                       },
                       "southwest" : {
                          "lat" : 40.749102,
                          "lng" : -74.01240009999999
                       }
                    }
                 },
                 "place_id" : "ChIJq_e9GK1ZwokRKgCpnuOYxXQ",
                 "types" : [ "postal_code" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Mon, 30 Jul 2018 21:47:30 GMT
recorded_with: VCR 3.0.3
